# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
venv_new/
backend/data/
*.db
token_cache.json

# Node
node_modules/
dist/
dist-ssr/
*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
